@page
@model CustomersModel
@{
    ViewData["Title"] = "Customers Page";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
    <hr/>
    <h2>Abhaysinha Chandrasen Deshmukh</h2>
    <h2>Dighol Deshmukh</h2>
    <h2>413527, Dist: Latur</h2>
    
</div>
